<div id="<%= dom_id hotel %>">
  <p>
    <strong>Name room:</strong>
    <%= hotel.name_room %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= hotel.price %>
  </p>

  <p>
    <strong>Full name:</strong>
    <%= hotel.full_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= hotel.email %>
  </p>

</div>
